.bodyBox{
	max-width: 1144px;
	margin: auto;
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.SecondBoxTitle{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

 h2 {
	font-size:34px;
}

.shoAllBtn{
	display: flex;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
	color: #8e8e93;
}

.title{
	display: flex;
}

.btnsBox{
	width: 95;
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}

.btns{
	display: flex;
	gap: 14px;
	flex-wrap: wrap;
}

.cardsBox{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 36px;
}

@media screen and (max-width: 766px ) {
	.cardsBox{
		justify-content: center;
	}
}
