body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: #f5f5f5;
}
 
.slick-prev{
	left: -11px!important; 
	z-index: 3;
}

.slick-next {
	right: 18px!important;
}

.slick-prev:before, .slick-next:before {
	font-size: 33px!important;
	opacity: 1!important;
}

.slick-slide img {
	width: 172px!important;
}

.SecondItems{
	display: flex!important;
	flex-direction: column;
	text-align: left;
}

.titleItems{
	font-size: 16px;
	-webkit-line-clamp: 1;
	
}

.SecondItems p{
	font-size: 12px;
	color: #8e8e93;
	margin: 0;
}
